@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-gradient-soft text-gray-900 font-sans antialiased;
}

h1, h2, h3, h4 {
  @apply font-display;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d8d5f8;
  border-radius: 999px;
}
